@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-rancho: "Rancho", cursive;
  --font-raleway: "Raleway", sans-serif;
}

* {
  font-family: var(--font-raleway);
}

.font-rancho {
  font-family: var(--font-rancho);
}